<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="theme-color" content="#157878">
   <link rel="stylesheet" href="{{ site.baseurl}}/css/normalize.css">
   <link href='{{ site.baseurl}}/https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="{{ site.baseurl}}/css/cayman.css">
 </head>
 <body>
   <section class="page-header">
     <h1 class="project-name">Nabovarme</h1>
     <h2 class="project-tagline">Central heating infrastructure in Christiania, Denmark</h2>
     <a href="https://github.com/nabovarme" class="btn">View on GitHub</a>
     <a href="https://nabovarme.github.com/presentation.pdf" class="btn">Presentation PDF</a>
   </section>
   <section class="main-content">
        {{ content }}
    </section>

    </body>
</html>
